.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-title {
	font-weight: 400;
}

.staff-type {
	text-decoration: underline;
	margin-top: 4rem;
}
.courses-para, .instructor-site {
	margin: 0;
}
.instructor-site {
	font-weight: bold;
	margin-bottom: 2rem;
}

.wp-block-group__inner-container {
	display: block;
}

.blog {
	h2 {
		font-weight: bold;
		color: #800080;
	}
}