.staff-type {
	margin-top: 4rem;
}
.courses-para, .instructor-site {
	margin: 0;
}
.instructor-site {
	font-weight: bold;
	margin-bottom: 2rem;
}

.wp-block-group__inner-container {
	display: block;
}

.staff-type-wrapper {
	margin-bottom: 2rem;
}

.staff-wrapper:first-of-type {
	border-bottom: 2px solid black;
}