.main-navigation {
	width: 100%;
	background-color: #000000;
	display: grid;
	grid-template-columns: 1fr minmax(auto, 12.5rem) minmax(auto, 50rem) 1fr;
	align-items: center;
	justify-content: space-between;
	color: #fff;

	.menu-header-menu-container {
		grid-column: 3;
		display: flex;
		justify-content: end;
	}


	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		a {
			padding: 1rem;
		}

		a:hover,
		a.focus {
				background-color: #305c9f;
			}

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				background-color: #000000;
				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
					
				}
			}

			a {
				width: 200px;			
			}

			:hover > a,
			.focus > a {
				
			}

			a:hover,
			a.focus {
				background-color: #305c9f;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
			text-decoration: none;
			}
	}

	li {
		position: relative;
		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: #fff;
		font-size: 1rem;
		font-weight: 700;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

.site-header {
	display: grid;
    grid-template-columns: 1fr minmax(auto, 12.5rem) minmax(auto, 50rem) 1fr;
    align-items: center;
    justify-content: space-between;
	background-color: #000000;
	
	a {
		color: #fff;
		grid-column: 2;
		list-style: none;
	}
}

.site-title {
	margin: 0;
	text-transform: uppercase;
	padding: 1rem;
	a {
		text-decoration: none;
		font-size: 1.3rem;
		font-weight: 700;
	}
}

.site-branding {
	grid-column: 2;
}

.sub-menu {
	display: flex;
	flex-direction: column;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.main-navigation li {
	position: relative;
}

.main-navigation a {
	display: block;
}

.menu-toggle {
	position: absolute;
	top: 0.3rem;
	right: 1rem;
	z-index: 1100;
	display: block;
	width: 3.75rem;
	padding: 1rem;
	margin: 0;
	border: none;
	background: transparent;

	svg path {
		fill: #fff;
	}
}


@media screen and (min-width: 50em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
