

body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
	font-family: $font__main;
}

.site-main {
	max-width: 62.5rem;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 0 1rem;
}

.wp-image-31 {
	width: 100%;
	padding: -1rem;
}