

body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
	font-family: $font__main;
}


.site-main {
	max-width: 62.5rem;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 0 1rem;
	position: relative;
}

.wp-image-31 {
	width: 100%;
	padding: -1rem;
}


.wp-block-image.alignfull.size-full {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

.wp-image-36 {
	width: 100%;	
	display: block;
}

.home-news-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;

	article {
		margin-bottom: 1rem;
	}

	a {
		position: relative;
		

		h3 {
		 	position: absolute;
		 	bottom: 0;
		 	left: 0;
			z-index: 1;
			background-color: rgba(255, 255, 255, .8);
			padding: 1rem;
			text-align: center;
			width: 100%;
			margin-bottom: 0;
		}
	}
}

@media screen and (min-width: 50rem) {
	.wp-block-group__inner-container {
		display: flex;
		
		.wp-block-group__inner-container,
		.is-layout-constrained,
		.wp-block-group-is-layout-constrained {
			display: flex;
			flex-direction: column;
		}
	}

	.home-news-wrap {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		.home-recent-news {
			margin: 1rem;
		}
	}
}


// .site-main {
// 	display: grid;
// 	grid-template-columns: 1fr minmax(0, 62.5rem) 1fr;
// 	display: flex;
//     flex-direction: column;
//     align-items: center;
// }


// article,
// div {
// 	grid-column: 2;
// }

// .wp-block-image.alignfull.size-full {
// 	img {
// 		width: 100%;
// 	}
// }

// .wp-block-image.alignfull.size-full {
//     width: 100%;
//     max-width: none;
//     margin-left: 0;
//     grid-column: 1 / -1;
// }

