.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}

.widget-area {
	padding: 2rem;
	section{
		margin: 1rem;
	}
	li {
		list-style-type: disc;
		font-weight: bold;
	}
	.wp-block-search__inside-wrapper {
		display: flex;
		flex-direction: column;
	}
	button {
		color: white;
		background-color: #305c9f;
		padding: 1.5rem;
	}
	.wp-block-search__button {
		margin-left: 0;
	}
	  
}

@media screen and (min-width: 68rem) {
	.widget-area {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 auto;	
	}
	
}

	
