.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}

.site-footer {
    background-color: #333;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	justify-content: center;
	width: 100%;

	h2 {
		text-align: center;
		font-size: 1.75rem;
		color: #fff;
	}

	a {
		color:#fff;
		font-weight: bold;
		text-decoration: none;
	}

	ul {
		margin: 0;
		padding-left: 0;
	}

	p {
		color: #fff;
	}
	
	svg path {
		fill: #fff;
	}

	svg {
		padding-top: 1rem;
	}


	.menu-footer-right-container {
		text-align: center;
	}

	.credit-links-wrapper {
		text-align: center;
	}

}

.widget-area {
	padding: 2rem;
	section{
		margin: 1rem;
	}
	li {
		list-style-type: disc;
		font-weight: bold;
	}
	.wp-block-search__inside-wrapper {
		display: flex;
		flex-direction: column;
	}
	button {
		color: white;
		background-color: #305c9f;
		padding: 1.5rem;
	}
	.wp-block-search__button {
		margin-left: 0;
	}
	  
}

@media screen and (min-width: 68rem) {
	.widget-area {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 auto;	
	}
	
}

@media screen and (min-width: 62.5rem) {
	.site-footer {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		
		.credit-links-wrapper {
			text-align: left;
		}
	}
	
	.menu-footer-right-container {
		ul {
			text-align: start;
		}
	}
}
	
