// stylelint-disable value-keyword-case
$font__main: "Inter", sans-serif;
$font__nav: "Zilla Slab", sans-serif;
// stylelint-enable value-keyword-case
$font__code: "Inter", sans-serif;
$font__pre: "Inter", sans-serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
